body {
    background: white;
}

.title {
    font-family:'Courier New', Courier, monospaces;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.dino{
 height: 60px;
 width: 60px;
 background-image: url(/img/dino.png) ;
 position: absolute;
 bottom: 0%;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(/img/cactus.png);
}

.game-over {
    text-align: center;
    color: rgba(128, 128, 128, 0.877);
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideRight {
    from {
        background-position: 70000%;
    }

    to {
        background-position: 0;
    }
} 

.background {
    position: absolute;
    bottom: 0;
    background-image: url(/img/background.png);
    background-repeat: repeat-x;
    animation: slideRight 600s infinite linear;
    width: 100%;
    height: 200px;
}